<div class='w-full mt-14 bg-vaz-beige'>
  <div class='flex flex-row justify-center gap-16 p-8'>
    <!-- Total Users Chart -->
    <div class='flex flex-col items-center h-auto p-8 bg-white border-2 border-b rounded-lg w-96'>
      <div class='flex flex-row w-full h-auto mb-4 '>
        <div class='w-auto h-auto p-2 border-2 border-b rounded-md'>
          <svg width="25" height="24" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 13.5H6.5C5.10444 13.5 4.40665 13.5 3.83886 13.6722C2.56045 14.06 1.56004 15.0605 1.17224 16.3389C1 16.9067 1 17.6044 1 19M18 19V13M15 16H21M13.5 5.5C13.5 7.98528 11.4853 10 9 10C6.51472 10 4.5 7.98528 4.5 5.5C4.5 3.01472 6.51472 1 9 1C11.4853 1 13.5 3.01472 13.5 5.5Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class='flex items-center justify-center h-full ml-2'>
          Total Users
        </div>
      </div>
      <div class='flex flex-row w-full h-auto '>
        <div class='flex items-center justify-start w-full h-full text-3xl'>
          <%= unique_users_by_day.values.sum %>
        </div>
        <div data-controller="small-line-chart" class='w-full p-2'>
          <canvas
          id="small-line-chart"
          data-small-line-chart-target="smallLineChart"
          data-small-line-chart-events="<%= unique_users_by_day.to_json %>"
          width="128" height="64"
        ></canvas>
        </div>
      </div>
    </div>
    <!-- Total Events Chart -->
    <div class='flex flex-col items-center h-auto p-8 bg-white border-2 border-b rounded-lg w-96'>
      <div class='flex flex-row w-full h-auto mb-4 '>
        <div class='w-auto h-auto p-2 border-2 border-b rounded-md'>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3338 19V12M12.6253 19.0846L19.6038 21.4208C20.1507 21.6039 20.4241 21.6954 20.5928 21.6297C20.7392 21.5727 20.8503 21.4501 20.8927 21.2988C20.9416 21.1245 20.8236 20.8614 20.5878 20.3351L13.0994 3.62232C12.8687 3.10762 12.7534 2.85027 12.5928 2.77053C12.4532 2.70125 12.2894 2.70099 12.1496 2.76982C11.9887 2.84905 11.8726 3.10602 11.6403 3.61998L4.08578 20.336C3.84809 20.862 3.72924 21.125 3.77757 21.2994C3.81954 21.4509 3.93031 21.5738 4.07663 21.6313C4.24512 21.6975 4.51901 21.6066 5.0668 21.4248L12.1193 19.084C12.2132 19.0528 12.2602 19.0372 12.3082 19.0311C12.3508 19.0256 12.394 19.0257 12.4366 19.0312C12.4846 19.0375 12.5315 19.0532 12.6253 19.0846Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class='flex items-center justify-center h-full ml-2'>
          Total Events
        </div>
      </div>
      <div class='flex flex-row w-full h-auto '>
        <div class='flex items-center justify-start w-full h-full text-3xl'>
          <%= events_by_day.values.sum %>
        </div>
        <div data-controller="small-line-chart" class='w-full p-2'>
          <canvas
          id="small-line-chart"
          data-small-line-chart-target="smallLineChart"
          data-small-line-chart-events="<%= events_by_day.to_json %>"
          width="128" height="64"
        ></canvas>
        </div>
      </div>
    </div>
    <!-- Total Page Views Chart -->
    <div class='flex flex-col items-center h-auto p-8 bg-white border-2 border-b rounded-lg w-96'>
      <div class='flex flex-row w-full h-auto mb-4 '>
        <div class='w-auto h-auto p-2 border-2 border-b rounded-md'>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.6666 17V21H9.66663V17M5.86663 17H19.4666C20.5867 17 21.1468 17 21.5746 16.782C21.9509 16.5903 22.2569 16.2843 22.4486 15.908C22.6666 15.4802 22.6666 14.9201 22.6666 13.8V6.2C22.6666 5.0799 22.6666 4.51984 22.4486 4.09202C22.2569 3.71569 21.9509 3.40973 21.5746 3.21799C21.1468 3 20.5867 3 19.4666 3H5.86663C4.74652 3 4.18647 3 3.75864 3.21799C3.38232 3.40973 3.07636 3.71569 2.88461 4.09202C2.66663 4.51984 2.66663 5.07989 2.66663 6.2V13.8C2.66663 14.9201 2.66663 15.4802 2.88461 15.908C3.07636 16.2843 3.38232 16.5903 3.75864 16.782C4.18647 17 4.74652 17 5.86663 17Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class='flex items-center justify-center h-full ml-2'>
          Total Page Views
        </div>
      </div>
      <div class='flex flex-row w-full h-auto '>
        <div class='flex items-center justify-start w-full h-full text-3xl'>
          <%= page_views_by_day.values.sum %>
        </div>
        <div data-controller="small-line-chart" class='w-full p-2'>
          <canvas
          id="small-line-chart"
          data-small-line-chart-target="smallLineChart"
          data-small-line-chart-events="<%= page_views_by_day.to_json %>"
          width="128" height="64"
        ></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Table start -->
  <div class="container px-4 mx-auto sm:px-8">
    <div class="px-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
      <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
                ID
              </th>
              <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
                Name
              </th>
              <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
                Browser
              </th>
              <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
                OS
              </th>
              <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
                Screen Size
              </th>
              <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
                Device Type
              </th>
              <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
                Referrer
              </th>
            </tr>
          </thead>
          <tbody>
            <% events_by_range.map do |event| %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4 text-gray-900 dark:text-white"><%= event.id %></td>
                <td class="px-6 py-4 text-gray-900 dark:text-white"><%= event.name.blank? ? '(NULL)' : event.name %></td>
                <td class="px-6 py-4 text-gray-900 dark:text-white"><%= event.browser %></td>
                <td class="px-6 py-4 text-gray-900 dark:text-white"><%= event.operating_system %></td>
                <td class="px-6 py-4 text-gray-900 dark:text-white"><%= event.screen_size %></td>
                <td class="px-6 py-4 text-gray-900 dark:text-white"><%= event.device_type %></td>
                <td class="px-6 py-4 text-gray-900 dark:text-white"><%= event.referrer.blank? ? '(NULL)' : event.referrer %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
