<!-- Table start -->
<div class="container mx-auto p4 sm:px-4">
  <div class="px-4 mx-4 overflow-x-auto sm:-mx-8 sm:px-2">
    <%= render partial: 'shared/datepicker', locals: { form_url: users_path } %>
    <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
      <table class="min-w-full leading-normal">
        <thead>
          <tr>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              ID
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              Address
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              Timezone
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              Region
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              Country
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              City
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              Zipcode
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              Org
            </th>
            <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 bg-white border-b-2 border-gray-200">
              Loc
            </th>
          </tr>
        </thead>
        <tbody>
          <% users.map do |user| %>
            <tr class="bg-white border-b hover:bg-gray-50 ">
              <td class="px-6 py-4 text-sm font-semibold text-gray-900 "><%= link_to user.id, user_path(user), class: 'cursor-pointer text-vaz-blue', data: { turbo: false } %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.address %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.timezone %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.region %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.country %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.city %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.postal %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.org %></td>
              <td class="px-6 py-4 text-sm text-gray-900 "><%= user.loc %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='mr-8'>
      <%= turbo_pagy_nav(@pagy, @start_date, @end_date) %>
      <div class="pb-8 mt-2"><%== pagy_info(@pagy) %></div>
    </div>
  </div>
</div>
